<!-- Heredando de base -->

<header

  style="background-color: white;"

  <meta
    http-equiv="content-type"
    content="text/html; charset=windows-1252">
  </meta>

  {% extends "pagina1app/base.html" %} {% load static %} {% block content %}

  <h2>Contacta con nosotros</h2>
  <form class="formulario_contacto" action=" " method="post">

    {% load crispy_forms_tags %}

    {% csrf_token %}

    {{ form | crispy }}

    <br>
    <button type="submit" id="btnEnviar" class="button">Enviar</button>

  </form>
  {{mensaje}}
  <table id="tablacontacto">

  </table>


</header>


{% endblock %}

<!-- Referencias -->

<!-- https://www.youtube.com/watch?v=90M4gunBRLs&t=174s&ab_channel=moisessepulveda -->

<!-- method = "post" es para que los datos no aparezcan en la url por cuestiones de seguridad -->
