<!-- Heredando de base -->
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body style="background-color: white;">{% extends "pagina1app/base.html" %}
    {% load static %}
    {% block content %}
    <header class="header" style="background-color: white;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>New page</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Capriola&amp;display=swap">
    <div style="text-align: center;"><a name="anchor" class="logo_link"><img
          src="../../static/Formulario_registro_mascota/image/que-prefiere-la-gente-perros-o-gatos.jpg"
          class="logo_img" style="width: 419px; height: 202px;" alt="encabezado"
          title="encabezado"></a></div>
    {% load static %}
    <p style="text-align: center;"> <a href="{% url 'Formulario registro' %}"><button
          name="Registrar_mascota" value="Registrar_mascota">Registrar</button></a></p>
    <p style="text-align: center;"><a href="{% url 'Formulario adopcion' %}"><button name="Adoptar_mascota"
          value="Adoptar_mascota">Adoptar</button></a> </p>
    {% endblock %}
  </body>
</html>
